<div class="containerProfile">
  <!-- <img class="bg-picture" src="assets/pic.jpg"  alt="picture"/> -->
  <div class="profil-card" >

    <div class="profil-name">

      <h3 class="firstLastName">{{user.firstname}} {{user.lastname}}</h3>

      <div class="profil-detail-up">
         <h5>Genre:  <span>{{user.genre}}</span></h5>
        <h5>Ville: <span>{{user.city}}</span></h5>
        <h5>Danse: <span id="nameDanse">Salsa</span></h5>
      </div>

      <div class="profil-detail-down">
        <p>{{user.description}}

        </p>

        <a href="mailto:{{user.firstname}}@gmail.com" id="joinMe">Joignez-moi sur : <span>{{user.firstname}}@gmail.com</span>
        </a>
      </div>
    </div>
    <div class="profil-img-box">

      <img class="profil-img" src={{user.picture}} alt="profil"/>

    </div>
  </div>
</div>






