.bg-picture{
  position: fixed;
  height: 50em;
  width: 100%;
  opacity: 0.2;


}

.profil-card{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.profil{
 width: 100px;
 height: 100px;
 border-radius: 10px;
}
