
  <img class="bg-picture" src="assets/pic.jpg"  alt="picture"/>
  <div class="profil-card">
  <div class="profil-name">
  <h4 >Nom:Doe</h4>
  <h5>Prenom:Jane</h5>
  <h5>Genre:Feminin</h5>
  <h5>Ville:Bègles</h5>

  <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dignissimos, quibusdam quo sunt vero maxime ipsa earum, molestiae quasi harum vel.
    Distinctio, mollitia! Corrupti voluptates assumenda beatae asperiores sit magni?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat atque eum omnis neque, laborum qui
   cupiditate sunt aut eligendi modi alias, eius a, accusantium et nulla totam soluta vitae expedita!</p>


  <p>Joingnez-moi sur :<span>jonaDo@gmail.com</span></p>
  </div>

<img class="profil" src="assets/profil1.png" alt="profil"/>

</div>






