.containerProfile{
    height: 100vh;
    background-image: url('/assets/images/background-danse-poudre.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil-card{
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 0 0 8.5px 1.5px #fdfdfd;
  
  }
  .profil-name{
   width: 70%;
   height: 80%;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
  }
  
.firstLastName{
    font-size: 2rem;
    margin-bottom: 10px;
}

.profil-detail-up{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#nameDanse{
    padding: 2px;
    color: white;
    border: 1px solid rgb(118, 118, 233);
    background-color: rgb(183, 82, 250);
}

.profil-detail-down{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

#joinMe{
    text-align: end;
    text-decoration: none;
}
#joinMe span{
    color: rgb(118, 118, 233);
}

.profil-img-box{
width: 30%;
height: 80%;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 0 6.5px 1.5px #7f7b7b;
}

.profil-img{
width: 100%;
border-radius: 10px;
object-fit: cover;
}
