.footer {
  height: 35vh;
  padding-top: 6vh;
  background-color: antiquewhite;
}

a {
    text-decoration: none;
}

.footerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.iconWrapper {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.follow {
    text-align: center;
}



