.container {
    display: flex;
    width: 100%;
}

.logo {
    position:relative;
    width: 180px;
    height: 180px;
}

.profilPicture {
    width: 84px;
    height: 84px;
    position: relative;
}

