<div class="backgroundDanse" *ngIf="users && dance" >

  <H2>{{dance.name}}</H2>



 </div>
 <div class="cadreDescription">
        {{dance.description}}
    </div>

 <div class="titreList">

    <h3>La liste de nos danseuses et danseurs de {{dance.name}}</h3>

  <form action="trier" method="post">

    <div class="checkTri oneWoman" (click)="onGenderChange('femme')">
      <input type="radio" class="check-with-label" name="groupe1" id="Danseuses" value="danseuses">
      <label for="Danseuses" class="square">Danseuses <img src="/assets/images/Solo_R.png" class="imgLabel" alt="silhouette danseuse"></label>
    </div>

    <div class="checkTri duo" (click)="allGender(dance.id)">
      <input type="radio" class="check-with-label" name="groupe1" id="Tous" value="all" checked>
      <label for="Tous" class="square squareoneWoman">Tous <img src="/assets/images/Couple_RN.png" class="imgLabel" alt="silhouette couple dansant"></label>
    </div>

    <div class="checkTri oneMan" (click)="onGenderChange('homme')">
      <input type="radio" class="check-with-label" name="groupe1" id="Danseurs" value="danseurs">
      <label for="Danseurs" class="square squareoneMan">Danseurs <img src="/assets/images/Solo_N.png" class="imgLabel imgLabelOneMan" alt="silhouette danseur"></label>
    </div>

  </form>

 </div>

 <div class="containerPageDanse">
  <div class="containerPageDanseProfiles">
    <div class="profileCard" *ngFor="let user of users" style="background-image: url('{{user.picture}}')" (click)="gotToProfileId(user.id)">
          <div class="imageProfile">
          </div>
          <div class="detailProfile">
            <h3>{{user.firstname}}</h3>
            <p>{{user.city}}</p>
          </div>
    </div>
  </div>
 </div>
