






<div class="backgroundDanse">

  <h2>cc</h2>



</div>
<div class="cadreDescription">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus mollitia nemo illum, obcaecati blanditiis quo magni voluptas aut deserunt velit perspiciatis neque quia et distinctio commodi. Quas laboriosam ad esse.
        Consequatur necessitatibus velit, commodi culpa eveniet iste omnis quod repellendus nemo praesentium cupiditate, distinctio pariatur nisi assumenda! Quod, neque eligendi veritatis obcaecati consequatur fugit nisi ea aut illum quasi repellat.
    </div>

<div class="titreList">

    <h3>La liste de nos danseuses et danseurs de SALSA</h3>

  <form action="trier" method="post">

    <div class="checkTri oneWoman">
      <input type="radio" class="check-with-label" name="groupe1" id="Danseuses" value="danseuses">
      <label for="Danseuses" class="square">Danseuses <img src="/assets/images/Solo_R.png" class="imgLabel" alt="silhouette danseuse"></label>
    </div>

    <div class="checkTri duo">
      <input type="radio" class="check-with-label" name="groupe1" id="Tous" value="all" checked>
      <label for="Tous" class="square squareoneWoman">Tous <img src="/assets/images/Couple_RN.png" class="imgLabel" alt="silhouette couple dansant"></label>
    </div>

    <div class="checkTri oneMan">
      <input type="radio" class="check-with-label" name="groupe1" id="Danseurs" value="danseurs">
      <label for="Danseurs" class="square squareoneMan">Danseurs <img src="/assets/images/Solo_N.png" class="imgLabel imgLabelOneMan" alt="silhouette danseur"></label>
    </div>

  </form>

</div>

<div class="containerPageDanse">

  <div class="containerPageDanseProfiles">

    <a href="" class="profileCard">

      <div class="imageProfile">

      </div>
      <div class="detailProfile">

        <h3>Fabien</h3>
        <p>Bègles</p>
        <p>37 ans</p>

      </div>
    </a>

    <a href="" class="profileCard" style="background-image: url('/assets/pexels-cottonbro-studio-6962024.jpg');">

      <div class="imageProfile">

      </div>
      <div class="detailProfile">

        <h3>Jessica</h3>
        <p>Bordeaux</p>
        <p>25 ans</p>

      </div>
    </a>

    <a href="" class="profileCard" style="background-image: url('/assets/pexels-cottonbro-studio-8090137.jpg');">

      <div class="imageProfile">

      </div>
      <div class="detailProfile">

        <h3>Francisco</h3>
        <p>Gradignan</p>
        <p>23 ans</p>

      </div>
    </a>

    <a href="" class="profileCard" style="background-image: url('/assets/images/profil.png');">

      <div class="imageProfile">

      </div>
      <div class="detailProfile">

        <h3>Avatar</h3>
        <p>Tresses</p>
        <p>30 ans</p>

      </div>
    </a>

    <a href="" class="profileCard" style="background-image: url('/assets/pexels-dziana-hasanbekava-7275385.jpg');">

      <div class="imageProfile">

      </div>
      <div class="detailProfile">

        <h3>Aurélie</h3>
        <p>Lormont</p>
        <p>27 ans</p>

      </div>
    </a>

    <a href="" class="profileCard" style="background-image: url('/assets/pexels-arthouse-studio-4571943.jpg');">

      <div class="imageProfile">

      </div>
      <div class="detailProfile">

        <h3>Jean-Claude</h3>
        <p>Bruges</p>
        <p>52 ans</p>

      </div>
    </a>

    <a href="" class="profileCard" style="background-image: url('/assets/pexels-cottonbro-studio-6626882.jpg');">

      <div class="imageProfile">

      </div>
      <div class="detailProfile">

        <h3>Cyril</h3>
        <p>Eysines</p>
        <p>25 ans</p>

      </div>
    </a>

    <a href="" class="profileCard" style="background-image: url('/assets/pexels-cottonbro-studio-5821482.jpg');">

      <div class="imageProfile">

      </div>
      <div class="detailProfile">

        <h3>May</h3>
        <p>Pessac</p>
        <p>34 ans</p>

      </div>
    </a>

  </div>
</div>
