<!-- <div class="containerBg">
  <img src="../../assets/salsa-scaled.jpg" alt="image de fond">
</div> -->
<div class="homeContainer">

  <div class="containerBg">
    <!-- <img src="../../assets/xenoblade-chronicles-3.jpg" alt="image de fond"> -->
  </div>

  <div class="homeMain" *ngIf="dances && users" >
    <div class="titreCategorie">Les catégories</div>

  <div class="homeWrapper">
    <div class="squareContainer">
      <div *ngFor="let dance of dances">
        <div class="square">
          <div class="squareInner">
            <div class="squareFront">
              <img  src="{{dance.picture}}" alt="image logo">
            </div>
            <div class="squareBack" (click)="gotToProfileId(dance.id)">
              <h2>{{ dance.name }}</h2>
              <p>{{ dance.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="homeLastRegistrant" >
      <h2>Les derniers inscrits</h2>
      <div class="carousel">
        <span (click)="scrollLeft()" class="leftArrow" ><strong><<</strong></span>
        <div *ngFor="let user of users | slice:currentIndex:currentIndex + 5" >
          <div class="slide">
            <img (click)="getUser(user.id)" src="{{ user.picture }}" alt="Image">

          </div>
          <span (click)="scrollRight()" class="arrow rightArrow"><strong>>></strong></span>
          <span (click)="toggleAutoPlay()" ></span>
        </div>
      </div>
    </div>
  </div>
</div>


