.containerBg{
  height: 80vh;
  background-image: url('/assets/images/salsa-scaled.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeLastRegistrant {
  margin-bottom: 25px;
  height: 350px;
}

.titreCategorie{
  width: 100%;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  color: black;
  margin: auto;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(218,214,214,1) 50%, rgba(255,255,255,1) 100%);
}
.square {
  height: 275px;
  width: 250px;
  border: 1px solid black;
  position: relative;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 3px 3px 10px #333;
  perspective: 1000px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
}

.squareContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3vh 0;
}

.homeCategory {
  margin: 10px 0;
  height: 35vh;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  /* height: 40vh; */
  padding: 5px;
  height: 100%;
  margin-top: 4vh;
  position: relative;
  gap: 20px;
}


.profileCard{
  width: 250px;
  height: 300px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
  border-radius: 5px;
  position: relative;
  transition: all .2s ease-in-out;
  text-decoration: none;
  box-shadow: 3px 3px 10px #333;
  flex: 0 0 auto;
  cursor: pointer;
}
.imageProfile{
  width: 100%;
  height: 70%;
}

.detailProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 30%;
  background-color: white;
  opacity: 0.8;
}

.arrow{
  position: absolute;
  transform: translate(50%, 50%);
  border: 1px solid rgb(172, 171, 171);
  border-radius: 5px;
  padding: 2px;
  cursor: default;
}
.leftArrow {
  left: 0;
  top: 45%;
  transform: translate(50%, 50%);
}
.rightArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.square:hover .square-inner {
  transform: rotateY(180deg);
}
.square-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}
.square-front, .square-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.square-front {
  background-color: #bbb;
}
.square-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  padding: 15px;
  text-align: justify;
}
.square-back h2{
 margin-bottom: 15px;
 color: white;
}
.square-back p{
  margin: auto;
  color: wheat;
 }

.square-front img {
  height: 100%;
  width: 100%;
}


