@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logo {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -21px;
}

h2 {
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.container-register{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.register-wrap {
    position: relative;
    background: #e0b99a;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
    display: flex;
    justify-content: center;
}

form {
    padding-top: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin: 30px;
}

.link {
    color: white;
}

.registerInput {
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    box-shadow: 2px 2px 5px #333;
    outline: none;
    padding: 8px;

}

.link {
    text-align: center;
}

.btn-register {
    color: white;
    border: none;
    background-color: #a97f5f;
    border-radius: 5px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-register:hover {
    color: white;
    border: none;
    background-color: #bc9987;
    border-radius: 5px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    cursor: pointer;
}

p {
    color: white;
    margin: 10px;
}



