<div class="register-wrap">
    <img class="logo" src="/assets/images/with_me__2_-removebg-preview.png" alt="logo">    
    <form>
        <h2>Register</h2>
        <input class="registerInput" type="text" placeholder="Lastname" name="lastname" />
        <input class="registerInput" type="text" placeholder="Firstname" name="firstname" />
        <input class="registerInput" type="text" placeholder="Email" name="email" />
        <input class="registerInput" type="password" placeholder="Password" name="pw" />
        <button class="btn-register"> Sign up </button>
        <a href="#" class="link"> <p> Have an account ? Login </p></a>
    </form>
</div>