<div class="container-register">
    <div class="register-wrap">
        <img class="logo" src="/assets/images/logoCircle.png" alt="logo">    
        <form class="container-input">
            <h2>Register</h2>
            <app-input registerForm="lastname" placeholder="Lastname" type="text"></app-input>
            <app-input registerForm="firstname" placeholder="Fistname" type="text"></app-input>
            <app-input registerForm="email" placeholder="Email" type="text"></app-input>
            <app-input registerForm="password" placeholder="Enter Password" type="password"></app-input>
            <button class="btn-register"> Sign up </button>
            <a routerLink="/login" class="link"> <p> Have an account ? Login </p></a>
        </form>
    </div>
</div>