<div class="footer">
    <p class="follow">Suivez nous</p>
    <div class="footerWrapper">
        <p>A propos</p>
        <div class="iconWrapper">
            <a href=""><img [ngStyle]="{'height' : '23vh'}" src="/assets/images/icons8-linkedin-64.png"></a>
            <a href=""><img src="/assets/images/icons8-instagram-96.svg"></a>
            <a href=""><img src="/assets/images/icons8-facebook-96.png"></a>            
        </div>
        <span>Contactez-nous</span>
    </div>
    <p class="follow">copyright © danse with me 2023 Tous droit reservés</p>
</div>
