<hr>
<div class="footer">
    <p class="follow"><strong>Suivez nous</strong></p>
    <div class="footerWrapper">
        <p><strong>A propos</strong></p>
        <div class="iconWrapper">
            <a href=""><img [ngStyle]="{'height' : '7vh'}" src="/assets/images/icons8-linkedin-64.png"></a>
            <a href=""><img [ngStyle]="{'height' : '9vh'}" src="/assets/images/icons8-instagram-96.svg"></a>
            <a href=""><img [ngStyle]="{'height' : '9vh'}" src="/assets/images/icons8-facebook-96.png"></a>
        </div>
        <span><strong>Contactez-nous</strong></span>
    </div>
    <p class="follow"><strong>copyright © danse with me 2023 Tous droit reservés</strong></p>
</div>
