<div class="container-login">
    
    <div class="login-wrap">
        <img class="logo" src="/assets/images/logoCircle.png" alt="logo">    
        <form>
          <h2>Login</h2>
          <app-input loginForm="email" placeholder="Email" type="text"></app-input>
          <app-input loginForm="password" placeholder="Enter Password" type="password"></app-input>
          <button class="btn-register">Login</button>
          <a routerLink="/register" class="link"> <p> Don't have an account ? Register </p></a>
        </form>
    </div>
</div>


